body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #ebebeb;
}


a h1:hover {
  color: black;
}


a {
  color: #7794d4;
}

a > .bar{
  color: black;
  border-style: none;
  border: none;
  /*text-decoration-color: #00B7FF;*/
}

.box{
  margin: 50px;
  padding: 50px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 10px ;
  margin-left: 10px;
}

.go {

  font-size: 20px;
  text-decoration: underline;

  margin-right: 20px ;
  margin-left: 20px ;
}


.button{
  background-color: #2b2b2b;
  border: none;
  color: lightgray;
  border-radius: 20px;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #131313;
}



@media screen and (max-width: 1200px){
  .box{
    width: 65%;
  }
}
@media screen and (max-width: 1000px){
  .box{
    width: 80%;
  }
}
@media screen and (max-width: 600px){
  body{
    padding: 5%;
  }
  .box{
    width: 90%;
    padding: 5%;
  }
  
}