body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #e0e0e0;
}

.title {
  color:white;
}
 
.title:hover {
  color: black;
  cursor: pointer;
}


#text {
  text-decoration: none;
  color:black;
}

a {
  color: #7794d4;
}

a > h1{
  color: black;
  border-style: none;
  border: none;
  /*text-decoration-color: #00B7FF;*/
}


.box{
  margin: 50px;
  padding: 50px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

#space {
  margin-right: 10px;
  margin-left: 10px;
}

.go {

  font-size: 20px;
  text-decoration: underline;

  margin-right: 20px ;
  margin-left: 20px ;
}


.button{
  background-color: #2b2b2b;
  border: none;
  color: lightgray;
  border-radius: 20px;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #131313;
}
